---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

const faviconFile = '/favicon.svg';
const faviconURL = new URL(faviconFile, Astro.url);

interface Props {
	title?: string,
	description?: string
}

const COMPANY_NAME = 'Magellan EV';
let {
	title = COMPANY_NAME,
	description = ''
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href={faviconFile} rel="icon" type="image/svg+xml" />
	<!-- Standard Meta -->
	<title>{(title !== COMPANY_NAME) ? `${title} | `: ''}{COMPANY_NAME}</title>
	<meta name="description" property="og:description" content={description} />
	<!-- OpenGraph Tags -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content={`${(title !== COMPANY_NAME ? title+' | ': '')}${COMPANY_NAME}`} />
	<meta property="og:url" content={Astro.url} />
	<meta property="og:image" content={faviconURL} />
	<meta property="og:image:alt" content="Magellan EV Logo" />
	<meta property="og:description" content={description} />
	<!-- SEO -->

	<!-- Google Fonts -->
	<link rel="stylesheet" href="reset.css">
</head>
<body>
<Header />
<main id="content">
	<slot />
</main>
<Footer />
</body>
</html>

<style>
body {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}
</style>